/* -------------------------------------------
[Table of contents]

1. css reset
2. typography
3. buttons
4. navbar-custom
5. intro section
6. about-me section
7. testimonial section
8. black-section sections
9. pricelist section
10.map-area section
	10.1 map-opened
11.contact section
12.footer

-------------------------------------------  */


/* -------------------------------------------
#[Color codes]
Black_c #1D1313
Dark grey_c  #A9B0B3
Hover_grey links  #858f93
Light grey_c  #e7e7e7
Btns Hover Color #f2f2f2
White_e     #fff
Facebook Blue_e #3b5998
Gmail_red_d #c71610
------------------------------------------- */


/* -------------------------------------------
[Typography]
Intro-logo:        'Audiowide', cursive;
Body:               15px  'Lato', sans-serif;
Headers:            'Lato', sans-serif;
Section titles:     18px  'Lato', sans-serif;
Paragraph headers:  16px  'Lato', sans-seirf;
Text/paragraphs:    15px  'Lato', sans-serif;

------------------------------------------- */


/* ==============
  css reset
 =============== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==============
  typography
 =============== */
body {
  color: #1D1313;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:focus {
  color: #A9B0B3;
  text-decoration: none;
}

h2,h3,h4 {
  text-align: center;
}

h2 {
  font-family: 'Audiowide', cursive;
  font-size: 44px;
  line-height: 66px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
	font-size: 16px;
  font-weight: 700;
}

.text {
	margin-top: 10px;
	margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
	text-align: left;
  color: #A9B0B3;
}

.text-center {
	text-align: center;
}

/* ==============
  common styles
 =============== */

.clearer { clear: both; }

.section {
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.section-overlay {
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
}

.content-container {
	margin: 50px 0 50px 0;
}

section .content-outer {
	width: 90%;
	margin: 0 auto 50px auto;
}

section .content-outer h3 {
	text-align: center;
	margin-bottom: 25px;
}

.img-center {
	margin: 0 auto;
}

.icons-wrapper {
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	padding: 30px 20px;
	margin-bottom: 50px;
}

.icons-descr, .icons-wrapper-icon {
	text-align: center;
}

.icons-wrapper-icon span {
	font-size: 20px;
	margin-bottom: 20px;
}

.icons-wrapper-icon, .icons-descr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.hidden-xs {
 display: inline-block;
 width: 10px;
}

/* ==============
  buttons
 =============== */
.btn-basic {
  box-sizing: border-box;
  display: inline-block;
	font-size: 12px;
  padding-top: 3px;
  height: 35px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.btn-basic:hover {
  background-color: #f2f2f2;
  color: #1D1313;
}

.btn-send {
	font-size: 12px;
	background-color: #e7e7e7;
	border: 2px solid #e7e7e7;
	color: #858f93;
}

.btn-send:hover {
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	color: #858f93;
}

.align-right {
	text-align: right;
	margin-right: -15px;
}

/* ==============
  navbar-custom
 =============== */

 .navbar-custom {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
 }

.navbar-default .navbar-nav>li>a {
  color: #fff;
	font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #e6e6e6;
}

.navbar-brand{
	position: absolute;
	top: 5px;
}

.navbar-brand span {
	position: relative;
	top: -40%;
	color: #fff;
	font-family: 'Audiowide', cursive;
}

/* ==============
  intro section
 =============== */

#intro {
  background-image: url(../3-img/intro_bg6.jpg);
}

.intro-container-outer {
	position: relative;
	width: 100%;
	height: 100vh;
}

.intro-container-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 50px;
	color: #fff;
 }

.intro-container-inner h2 {
	white-space: nowrap;
	overflow: hidden;
}

.p-logo-descr {
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
 }

.intro-buttons {
	color: #fff;
	text-align: center;
	padding: 50px;
	font-size: 12px;
}

.intro-buttons a {
	color: #fff;
}

/* ==============
  about me section
 =============== */
.about-me-inner {
	margin: 0 auto;
}
.about-me-images {
	margin: 0px 0 50px 0;
}

.content-container h3 {
	text-align: left;
	padding-left: 15px;
	padding-bottom: 25px;
}

.image-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 426px;

	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	-ms-transition: all 500ms;
	transition: all 500ms;
}

.image-img:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

#image-img1 {
	background-image: url(../3-img/bw_photos/audi.jpg);
}

#image-img2 {
	background-image: url(../3-img/bw_photos/audi_interior.jpg);
}

#image-img3 {
	background-image: url(../3-img/bw_photos/bmw.jpg);
}

#image-img4 {
	background-image: url(../3-img/bw_photos/jeep.jpg);
}
/* ==============
  testimonial section
 =============== */
#testimonial {
	background-image: url(../3-img/testimonial.jpeg);
}

.testimonial-overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.icons-testmionial-outer {
	height: 400px;
	max-height: 300px;
}

.icons-testmionial-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* ==============
offer section
 =============== */

#offer .offer-outer {
	width: 80%;
}

/* ==============
  black-section sections
 =============== */
.black-section {
	background-color: #1D1313;
	color: #fff;
	text-align: center;
}

.black-section h4 {
	text-align: center;
	font-weight: normal;
	padding-bottom: 25px;
}

.black-section .btn-basic {
	color: #fff;
}

.black-section .btn-basic:hover {
	background-color: #333333;
}

.black-section span {
	font-size: 24px;
}

/* ==============
  pricelist section
 =============== */
.pricelist-icons h4 {
	margin-bottom: 10px;
}

.prlst-price {
	display: inline-block;
	float: right;
	text-align: right;
}

.prlst-product {
	display: inline-block;
	text-align: left;
}

#pricelist .pricelist-outer {
	width: 80%;
}

/* ==============
  map-area section
 =============== */
#map-area {
	position: relative;
}

#map {
	width: 100%;
	height: 410px;
}

.map-section {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 !important;
  background: rgba(17,17,17, .93);
  z-index: 2;
  cursor: pointer;

  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.map-section:hover {
  background: rgba(17,17,17, .90);
}

.map-toggle {
	width: 200px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

.map-icon span {
	color: #fff;
	font-size: 34px;

	-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.map-close, .map-inactive  {
	display: none;
}

.map-active {
	display: block;
}

/* Map Opened */
.map-section.js-active {
	height: 50px;
	background: rgba(17,17,17, .75);
}

.map-section.js-active:hover{
  background: rgba(17,17,17, .85);
}

.map-section.js-active .map-icon {
	opacity: 0;
}

.map-section.js-active .map-text {
	position: relative;
	top: -20px;
}

/* ==============
  contact section
 =============== */

.contact-inner {
	width: 260px;
	margin: 20px auto;
}

.contact-inner .icons-descr {
	margin-left: 20px;
}

.form-group {
	width: 340px;
	margin: 10px auto;
}

.form-tip {
	margin-left: -15px;
}

.form-tip .text {
	font-size: 10px;
}

.inpt-field {
	box-sizing: border-box;
	width: 100%;
	color: #A9B0B3;
	border: 1px solid #e7e7e7;
  border-radius: 2px;
	padding: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A9B0B3;
	font-size: 12px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #A9B0B3;
	font-size: 12px;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #A9B0B3;
	font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #A9B0B3;
	font-size: 12px;
}

/* ==============
 footer
 =============== */
footer {
	background-color: #e7e7e7;
}

footer h2 {
	font-size: 24px;
	color: #A9B0B3;
	line-height: 36px;
}

.ftr-social-links {
	margin-top: -20px;
	width: 63px;
	height: 40px;
	margin: 0 auto;
}
.ftr-social-links .icons-wrapper-icon {
	display: inline-block;
	width: 30px;
	margin: 0 auto;
}

a span.icon-facebook-official:hover {
	color: #3b5998; /*Facebook blue_e */
}

a span.icon-gmail:hover {
	color: #c71610; /* Gmail red_d*/
}

a.developer-contact:hover {
	color: #858f93;
}
